@use 'tailwindcss';



// CUSTOM STYLES
.shadow-main-1 {
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.shadow-main-2 {
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.shadow-main-3 {
    box-shadow: 0px 4px 6px -4px rgba(0, 187, 167, 0.3), 0px 10px 15px -3px rgba(0, 187, 167, 0.3);
}

.shadow-main-4 {
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.shadow-main-5 {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

// MAIN

html {
    @apply scroll-smooth;
}

.no-scroll {
    @apply overflow-y-hidden;
}

a, button, li, input {
    @apply transition-all duration-200 ease-linear;
    &:hover {
        @apply transition-all duration-200 ease-linear;
    }
}

section {
    @apply py-20;
}

.main-container {
    @apply px-4 md:px-10 lg:px-[60px] xl:px-[120px];
}

.title {
    &-sm {
        @apply text-[18px] md:text-[20px] leading-[110%];
    }
    &-md {
        @apply text-[28px] leading-[110%] font-medium;
    }
    &-lg {
        @apply text-[30px] md:text-[42px] leading-[110%] font-medium;
    }
    &-xl {
        @apply text-[36px] md:text-[46px] leading-[110%] font-medium;
    }
}

.link {
    @apply relative;
    &:hover {
        @apply text-[#00ADC0];
    }
}

.btn {
    @apply py-1.5 px-5 rounded-[14px] border;
    &-primary {
        @apply bg-[#00ADC0] text-white border-transparent;
        &:hover {
            @apply bg-white text-[#00ADC0];
        }
    }
    &-secondary {
        @apply bg-white text-[#3F4345] border-[#F3F4F6];
        &:hover {
            @apply border-[#00ADC0];
        }
    }
    &-accent {
        @apply bg-white text-[#3F4345] border-[#00ADC0] text-sm py-2 px-8;
        &:hover {
            @apply bg-[#00ADC0] text-white;
        }
    }
    &-bigger {
        @apply py-3;
    }
    &-burger {
        @apply w-4 flex lg:hidden flex-col gap-1.5;
        span {
            @apply w-full h-px bg-[#3F4345] transition-all duration-200 ease-linear;
        }
        &.active {
            span:nth-child(1) {
                @apply translate-y-2 rotate-45;
            }
            span:nth-child(2) {
                @apply opacity-0;
            }
            span:nth-child(3) {
                @apply -translate-y-1.5 -rotate-45;
            }
        }
    }
}

.card {
    @apply bg-white border border-[#F3F4F6];
    &-base {
        @apply p-6 rounded-[16px];
    }
    &-xl {
        @apply p-0 rounded-[24px];
    }
}

.block-name {
    @apply w-fit px-3 py-2 rounded-[8px] bg-white border-[0.5px] border-[#00ADC0] text-sm text-[#00ADC0] mb-3;
}

.icon {
    @apply text-white w-fit p-3.5 rounded-[16px] mb-[18px];
    background-image: linear-gradient(135deg, #00D5BE 0%, #00B8DB 100%);
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.input-label {
    @apply flex flex-col gap-2;
    label {
        @apply cursor-pointer text-sm;
    }
}

input {
    @apply appearance-none;
}

.input {
    @apply outline-none text-sm bg-white w-full border border-[#E5E7EB] rounded-[14px] p-3 transition-all duration-300 ease-linear;
    &:focus {
        @apply border-[#00ADC0];
    }
}

select {
    @apply outline-none cursor-pointer;
    option {
        @apply cursor-pointer;
    }
}

.nav-menu {
    @apply py-[120px] lg:py-0 text-3xl lg:text-base flex flex-col lg:flex-row items-center gap-[30px] absolute top-[70px] lg:top-auto left-0 lg:left-auto w-full lg:w-auto h-full lg:h-auto bg-white lg:bg-transparent z-40 lg:z-auto lg:relative opacity-0 lg:opacity-100 invisible lg:visible -translate-x-full lg:translate-x-0 transition-all duration-200 ease-linear;
    &.show {
        @apply translate-x-0 opacity-100 visible transition-all duration-200 ease-linear;
    }
}

#benefits {
    .card {
        @apply transition-all duration-300 ease-linear;
        .icon {
            @apply transition-all duration-300 ease-linear;
        }
        &:hover {
            @apply bg-[linear-gradient(135deg,rgba(0,184,219,0.18)0%,rgba(255,255,255,0.06)100%)] transition-all duration-300 ease-linear;
            .icon {
                @apply bg-[linear-gradient(135.44deg,rgba(0,173,192,1)0%,rgba(74,85,101,1)116.97%)] transition-all duration-300 ease-linear;
            }
        }
    }
}

#services {
    .card {
        img {
            @apply transition-all duration-300 ease-linear;
            &:after {
                @apply content-[''] absolute top-0 left-0 w-full h-full bg-[linear-gradient(0.33deg,rgba(0,184,219,0.2)0.29%,rgba(0,150,137,0)81.72%)];
            }
        }
        &:hover {
            img {
                @apply scale-110 transition-all duration-300 ease-linear;
            }
        }
    }
}

#facts {
    .card {
        @apply transition-all duration-300 ease-linear;
        &:hover {
            @apply border-[#00ADC0] transition-all duration-300 ease-linear;
        }
    }
}

.hidden-content {
    @apply opacity-0 h-0 invisible transition-all duration-200 ease-linear;
    &.show {
        @apply opacity-100 h-auto visible transition-all duration-200 ease-linear;
    }
}

.btn-accordion {
    svg {
        @apply rotate-0 transition-all duration-200 ease-linear;
    }
    &.active {
        svg {
            @apply rotate-180 transition-all duration-200 ease-linear;
        }
    }
}